<div class="row">
    <div class="col-md-12">
        <h1>Ruby on Rails Demo</h1>
        <p class = "lead">Assessment of a Web Framework
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <%= image_tag("rails_logo.png", alt: "Activity Logo" ) %>
    </div>
    <div class="col-md-5">
        <blockquote>
        <p>This is a university assignment for the course <strong>4ME105 - 
        Web and Mobile Development</strong> at School of Computer Science, 
        Physics and Mathematics, Linnaeus University, Sweden.</p>
        <p><small>by Corinna Breitinger and Myrtha Fuog</small></p>
        </blockquote>
    </div>
    <div class="col-md-5">
        <h4>A few great Ruby on Rails learning resources</h4>
        <ul>
            <li><strong>The Rails Tutorial:</strong> <%= link_to "http://ruby.railstutorial.org/" %> Rails 3.2 Basics, Asset Pipeline, Deployment, Data Modeling, Twitter Bootstrap, Behavior Driven Development, authentication</li>
            <li><strong>Rails Apps:</strong> <%= link_to "http://railsapps.github.com" %> Example applications accompanied by in-depth tutorials that go beyond Rails lessons for beginners.</li>
            <li><strong>The Rails Guides:</strong> <%= link_to "http://guides.rubyonrails.org/" %> Guides that are designed to make you immediately productive with Rails, and to help you understand how all of the pieces fit together.</li>
            <li><strong>UT on Rails:</strong> <%= link_to "http://schneems.com/ut-rails" %> The Ruby on Rails course that Richard Schneeman teaches at University of Texas. Beginner friendly material with videos, exercises and quizes.</li>
            <li><strong>Rails for Zombies:</strong> <%= link_to "http://railsforzombies.org/" %> Learn Ruby on Rails in the browser; Go through five videos and exercises to earn zombie badges.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
    </div>
</div>
